body {
    background-image: url('../images/fondecran2.jpg');
}


/* Terminal */

#pass {
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 50px;
}

td {
    padding:0;
    width:20px;
    height:20px;
    border-bottom:none;
}

#terminal {
    background-image: url('../images/fenetrejeux2.jpg');
    background-repeat: no-repeat;
    position: absolute;
    width: 678px;
    height: 448px;
    margin-left: 40px;
    margin-top: 10px;
}

#areagame {
    display: block;
    width: 380px;
    height: 380px;
    margin-left: 20px;
    padding-top: 40px;
}

.checkerboardCornerTopLeft {
    background:url('../images/checkerboardCornerTopLeft.jpg');
    cursor: pointer;
}

.checkerboardCornerTopRight {
    background:url('../images/checkerboardCornerTopRight.jpg');
    cursor: pointer;
}

.checkerboardCornerBottomLeft {
    background:url('../images/checkerboardCornerBottomLeft.jpg');
    cursor: pointer;
}

.checkerboardCornerBottomRight {
    background:url('../images/checkerboardCornerBottomRight.jpg');
    cursor: pointer;
}

.checkerboardLeft {
    background:url('../images/checkerboardLeft.jpg');
    cursor: pointer;
}

.checkerboardTop {
    background:url('../images/checkerboardTop.jpg');
    cursor: pointer;
}

.checkerboardRight {
    background:url('../images/checkerboardRight.jpg');
    cursor: pointer;
}

.checkerboardBottom {
    background:url('../images/checkerboardBottom.jpg');
    cursor: pointer;
}

.checkerboardCross {
    background:url('../images/checkerboardCross.jpg');
    cursor: pointer;
}

.tokenWhite {
	background:url('../images/tokenWhite.jpg');
}

.tokenBlack {
	background:url('../images/tokenBlack.jpg');
}

/* Mail */

#mail {
    position: absolute;
    width: 385px;
    height: 367px;
    margin-top: 270px;
    margin-left: 870px;
    background-image: url('../images/email2.jpg')
}

/* Chat */

#chat {
    position: aboluste;
    width: 682px;
    height: 239px;
    margin-top: 430px;
    margin-left: 40px;
    background-image: url('../images/fenetrechat2.jpg');
}

/* Score */

#score {
    position: aboluste;
    display: inline-block;
    width: 235px;
    height: 40px;
    margin-top: 30px;
    margin-left: 400px;
}

#gamePoint {
    position: absolute;
    text-align: center;
    margin-left: 410px;
    margin-top: 368px;
    font-family: 'Source Code Pro';
    font-size: 12px;
    color: #33c841;
    line-height: 25px;
}

/* Button pass */

#pass {
    background-color : #33c841;
    font-family: 'Source Code Pro';
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    margin-top: -400px;
    margin-left: 450px;
    padding: 5px;
    border: 1px solid #33c841;
    border-radius: 10%;
}

/* Fiche perso */

#fichePerso {
    position: absolute;
    top: 5%;
    left: 65%;
    width: 500px;
    height: 125px;
    background-image: url('../images/ficheTechniqueAno.png')
}