extends layout

block content

	title= title
	link(rel='stylesheet', href='/stylesheets/index/accueil.css')
		
	div(id = "fond")
	
	ul(id = "accueil")
		li
			form(action="/mail" method="get")
				input(id = "accueil3" type="submit" value="SOLO") 
		li
			form(action="/mail" method="get")
				input(id = "accueil1" type="submit" value="MULTI") 
				
		li
			form(action="/rules" method="get")
				input(id = "accueil2" type="submit" value="GAME RULES")

	script.
		// connection to socket.io
		var socket = io.connect('http://localhost:3000');
		socket.emit('new_client');
		