extends layout

block content
	form(action="/nsa" method="post" id="formulaire_pseudo")
		input(type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo..." size="50" autofocus)
		input(type="submit" id="envoi_pseudo" value="Envoyer")

	script.
		// connection à socket.io
		var socket = io.connect('http://localhost:3000');
		var pseudo = "user"+(Math.floor (Math.random() * 1001));
		console.log(pseudo+" (pseudo alea avant form)");

		$('#formulaire_pseudo').submit(function () {
			var pseudo = $('#pseudo').val();
			socket.emit('nouveau_client', pseudo);
			console.log(pseudo);
			document.title = pseudo + ' - ' + document.title;
		// to add : Ack (good pseudo) or Nack (bad pseudo)
		});
		