extends layout

block content

	title= title
	link(rel='stylesheet', href='/stylesheets/index/accueil.css')
	form(action="/vs" method="post" id="nickname_form")
		input(type="submit" id="nickname_send" value="Send")	

	script.
		// connection to socket.io
		var socket = io.connect('http://localhost:3000');
		socket.emit('new_client');
		