extends layout

block content
	form(action="/" method="post" id="attack_form")
		input(type="text" name="attack" id="attack" placeholder="Your attack..." size="50" autofocus)
		input(type="submit" id="attack_send" value="Send")
	div(id = "areaGame")
		table(id = "board")
	div(id="gamePoint")
		div(id = "blackPlayer")
		div(id = "whitePlayer")
	button(id='pass').
		Pass your turn
	script(type = "text/javascript", src = "/javascripts/draw.js")
	script(type = "text/javascript", src = "/javascripts/libertyNumber.js")
	script(type = "text/javascript", src = "/javascripts/neighbourhood.js")
	script(type = "text/javascript", src = "/javascripts/removeToken.js")
	script(type = "text/javascript", src = "/javascripts/score.js")
	script(type = "text/javascript", src = "/javascripts/suicide.js")
	script(type = "text/javascript", src = "/javascripts/gameObject.js")
	script(type = "text/javascript", src = "/javascripts/click.js")
	script(type = "text/javascript", src = "/javascripts/ko.js")
	script.
		// connection to socket.io
		var socket = io.connect('http://localhost:3000');
		console.log("test");
		/*
		('#attack_form').submit(function () {
			var nickname = $('#nickname').val();
			socket.emit('new_client', nickname, nickname_default);
			console.log(nickname, nickname_default);
			document.title = nickname + ' - ' + document.title;
		});
		*/
		socket.on("board_refresh", function(game){
			console.log("Board reçu");
			Game.data = game.data;
			Game.token = game.token;
			Game.ko = game.ko;
			console.log(Game);
			drawAgain();

			});