extends layout

block content
	div(id = "areaGame")
		table(id = "board")
	div(id="gamePoint")
		div(id = "blackPlayer")
		div(id = "whitePlayer")
	button(id='pass').
		Pass your turn
	script(type = "text/javascript", src = "/javascripts/draw.js")
	script(type = "text/javascript", src = "/javascripts/libertyNumber.js")
	script(type = "text/javascript", src = "/javascripts/neighbourhood.js")
	script(type = "text/javascript", src = "/javascripts/removeToken.js")
	script(type = "text/javascript", src = "/javascripts/score.js")
	script(type = "text/javascript", src = "/javascripts/suicide.js")
	script(type = "text/javascript", src = "/javascripts/gameObject.js")
	script(type = "text/javascript", src = "/javascripts/click.js")
	script.
		// connection to socket.io
		var socket = io.connect('http://localhost:3000');
		)};
