extends layout

block content
	div(id = "areaGame")
		table(id = "board")
	div(id="gamePoint")
		div(id = "blackPlayer")
		div(id = "whitePlayer")
	button(id='pass').
		Pass your turn
	script(type = "text/javascript", src = "/javascripts/draw.js")
	script(type = "text/javascript", src = "/javascripts/libertyNumber.js")
	script(type = "text/javascript", src = "/javascripts/neighbourhood.js")
	script(type = "text/javascript", src = "/javascripts/removeToken.js")
	script(type = "text/javascript", src = "/javascripts/score.js")
	script(type = "text/javascript", src = "/javascripts/suicide.js")
	script(type = "text/javascript", src = "/javascripts/gameObject.js")
	script(type = "text/javascript", src = "/javascripts/click.js")
	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script.
		// Connexion à socket.io
		var socket = io.connect('http://localhost:3030');
		console.log("test");

		io.sockets.on('connection', function (socket, pseudo) {
			console.log(pseudo);

			socket.on('pseudo_ok', function(pseudo) {
				var pseudo = pseudo;
				console.log(pseudo);
			});
			socket.on('pseudo_error', function() {
				console.log("error");
			});
		)};
