extends layout

block content

	script.
		// connection to socket.io
		var socket = io.connect('http://localhost:3000');		

	
	form(action="/nsa" method="post" id="attack_form")
		input(type="submit" id="attack_send" value="Send")
