extends layout

block content
	link(rel='stylesheet', href='/stylesheets/vs/vs.css')

	div(id = 'VS')
		p() Choisissez votre camp

	div(id = "NSA")
			img(src="../../images/vs/NSA_VS.jpg" onmouseover="javascript:this.src='../../images/vs/NSA_VS_GIF.gif';" onmouseout="javascript:this.src='../../images/vs/NSA_VS.jpg';")
			form(action="/nsa" method="post")
				input(id = "nsaButton" type="submit" value="Choose the NSA") 

	div(id = "ANONYMOUS")
		img(src="../../images/vs/ANO_VS.jpg" onmouseover="javascript:this.src='../../images/vs/ANO_VS_GIF.gif';" onmouseout="javascript:this.src='../../images/vs/ANO_VS.jpg';")
		form(action="/anon" method="post")
			input(id = "anoButton" type="submit" value="Choose the Anonymous") 

	script.
		// connection to socket.io

		var socket = io.connect('https://born2hack.herokuapp.com:443');
