body {
    background-image: url('../../images/nsa/background.png');
}


/* Terminal */

#pass {
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 50px;
}

td {
    padding:0;
    width:20px;
    height:20px;
    border-bottom:none;
}

#terminal {
    background-image: url('../../images/nsa/jeu.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 678px;
    height: 448px;
    margin-left: 40px;
    margin-top: 20px;
}

#board {
    display: block;
    width: 380px;
    height: 380px;
    margin-left: 10px;
    padding-top: 48px;
}

.checkerboardCornerTopLeft {
    background:url('../../images/nsa/checkerboardCornerTopLeft.jpg');
    cursor: pointer;
}

.checkerboardCornerTopRight {
    background:url('../../images/nsa/checkerboardCornerTopRight.jpg');
    cursor: pointer;
}

.checkerboardCornerBottomLeft {
    background:url('../../images/nsa/checkerboardCornerBottomLeft.jpg');
    cursor: pointer;
}

.checkerboardCornerBottomRight {
    background:url('../../images/nsa/checkerboardCornerBottomRight.jpg');
    cursor: pointer;
}

.checkerboardLeft {
    background:url('../../images/nsa/checkerboardLeft.jpg');
    cursor: pointer;
}

.checkerboardTop {
    background:url('../../images/nsa/checkerboardTop.jpg');
    cursor: pointer;
}

.checkerboardRight {
    background:url('../../images/nsa/checkerboardRight.jpg');
    cursor: pointer;
}

.checkerboardBottom {
    background:url('../../images/nsa/checkerboardBottom.jpg');
    cursor: pointer;
}

.checkerboardCross {
    background:url('../../images/nsa/checkerboardCross.jpg');
    cursor: pointer;
}

.tokenWhite {
    background:url('../../images/nsa/tokenWhite.jpg');
}

.tokenBlack {
    background:url('../../images/nsa/tokenBlack.jpg');
}

/* Mail */

#mail {
    position: absolute;
    width: 385px;
    height: 367px;
    margin-top: 270px;
    margin-left: 870px;
    background-image: url('../../images/nsa/email.png')
}

/* Chat */

#chat {
    position: aboluste;
    width: 682px;
    height: 254px;
    margin-top: 400px;
    margin-left: 40px;
    background-image: url('../../images/nsa/imessage.png');
}

#zoneChat {
    position : absolute;
    top : 67%;
    left : 12%;
    width : 660px;
    height: 157px;
    color : black;
    overflow : auto;
    font-family: "Helvetica";
    font-size: 12px;
    color: #2c85a5;


}

#formulaire_chat {
    position : absolute;
    top : 87%;
    left: 12%;
}

/* Score */

#score {
    position: aboluste;
    display: inline-block;
    width: 235px;
    height: 40px;
    margin-top: 30px;
    margin-left: 400px;
}

#gamePoint {
    position: absolute;
    text-align: center;
    margin-left: 410px;
    margin-top: 368px;
    font-family: 'Source Code Pro';
    font-size: 12px;
    color: #2c85a5;
    line-height: 25px;
}

/* Button pass */

#pass {
    background-color : #2c85a5;
    font-family: 'Source Code Pro';
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    margin-top: -400px;
    margin-left: 450px;
    padding: 5px;
    border: 1px solid #2c85a5;
    border-radius: 10%;
}

#envoi_message {
    background-color : #2c85a5;
    font-family: 'Source Code Pro';
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    padding: 3px;
    margin-left: 5px;
    border: 1px solid #2c85a5;
    border-radius: 10%;
}

/* Fiche perso */

#fichePerso {
    position: absolute;
    top: 5%;
    left: 66%;
    width: 500px;
    height: 125px;
    background-image: url('../../images/nsa/fichetechniqueNSA.png')
}

/* Planete */ 

#planete {
    position: absolute;
    background-image: url('../../images/nsa/planete.gif');
    width: 180px;
    height: 180px;
    left: 35%;
    top: 11%;
    border: 2px solid #2c85a5;
    z-index: 1;
}

#fichePseudo {
    font-family: 'Helvetica';
    color: black;
    font-weight: 800;
    font-size : 20px;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}