* {
	margin: 0;
	padding: 0;
    
}

body {
    margin-top : -18px;
    margin-bottom: 0;
}

@font-face {
    font-family: DharmaGothic;
    src: url(../../font/DharmaGothicE_Bold_R.otf);
}

/* REGLES DU JEU */


#backgroundregles {
    
    position: absolute;
    background-image: url(../../images/rules/fondreglejeu.png);
    width: 100%;
    height: 100%;
}


.container {
    width:100%;
    margin: 0 auto;
    max-width: 500px;
   
}

#regles {
    position:relative;
    text-align: justify;
    color: #CFDFE2;
    font-family: 'Lato';
}

h1 {
    font-family: 'DharmaGothic';
    font-size: 50px;
    text-shadow: 0 0 7px rgba(0,0,0, 0.5);
    font-family: 'DharmaGothic';
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}

h2 {
    
font-family: 'DharmaGothic';
    font-size: 35px;
    color : #ffffff;
    letter-spacing: 1px;
    
}

#retour {
    text-decoration: none;
    text-align: center;
    border-width:1px;
    border-style:solid;
    border-radius:5px;
    border-color:black;
    padding: 15px;
    font-size: 40px;
    font-family: 'DharmaGothic';
    letter-spacing: 2px;
    background-color: #CFDFE2;
    cursor: pointer;
}