h1 {
	text-align: center;
	font-size: 24px;
	font-family: 'Futura';
	padding-bottom: 40px;
}

#areagame {
	width: 400px;
	height: 380px;
	margin: auto;
}


td {
    padding:0;
    width:20px;
    height:20px;
    border-bottom:none;
}

.checkerboardCornerTopLeft {
    background-color:#FFF;
    background:url('../images/checkerboardCornerTopLeft.jpg');
}

.checkerboardCornerTopRight {
    background-color:#FFF;
    background:url('../images/checkerboardCornerTopRight.jpg');
}

.checkerboardCornerBottomLeft {
    background-color:#FFF;
    background:url('../images/checkerboardCornerBottomLeft.jpg');
}

.checkerboardCornerBottomRight {
    background-color:#FFF;
    background:url('../images/checkerboardCornerBottomRight.jpg');
}

.checkerboardLeft {
    background-color:#FFF;
    background:url('../images/checkerboardLeft.jpg');
}

.checkerboardTop {
    background-color:#FFF;
    background:url('../images/checkerboardTop.jpg');
}

.checkerboardRight {
    background-color:#FFF;
    background:url('../images/checkerboardRight.jpg');
}

.checkerboardBottom {
    background-color:#FFF;
    background:url('../images/checkerboardBottom.jpg');
}

.checkerboardCross {
    background-color:#FFF;
    background:url('../images/checkerboardCross.jpg');
}